@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Manrope:wght@400;500;600;700&display=swap');
:root {
    /* Vincis Color Tokens */
    --primary: #735c00;
    --primary-container: #d4af37;
    --on-primary: #ffffff;
    --on-primary-container: #554300;
    
    --surface-background: #fdf9f6;
    --surface-container-low: #f7f3f0;
    --surface-container-lowest: #ffffff;
    --surface-border: rgba(208, 197, 175, 0.2); /* outline-variant/20 */
    
    --text-main: #1c1b1a; /* on-surface */
    --text-secondary: #5f5e5c; /* secondary */
    
    /* PrimeVue Overrides */
    --p-primary-color: var(--primary);
    --p-primary-contrast-color: var(--on-primary);
    --p-border-radius-md: 0.75rem; /* rounded-xl do design system */
}

/* Tipografia Vincis */
body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--surface-background);
    color: var(--text-main);
}

h1, h2, h3, .p-component-header {
    font-family: 'Newsreader', serif;
}
